.Home__main{
    width: 100%;
    height: 100vh;
}
.Home__main__title{
    background-color:#6A1467;
    opacity:0.7;
    padding-left: 70px;
    padding-top: 90px;
}
.Home__title__principal{
}
.Home__title__principal h1{
    margin: 0;
    padding: 0;
    color: white;
    font-size: 120px;
    font-weight: 700;
}
.Home__main__secondary h4{
    margin: 0;
    padding: 0;
    font-size: 64px;
    font-weight: 700;
}
