*,::after,::before,**{
  margin: 0;
  padding: 0;
  box-sizing: inherit;

}

body {
  background-image: url('./Img/background.svg');
  background-position: cover;
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
